@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Work+Sans&display=swap');

html,body{
  margin: 0;
  padding: 0;
  background: #00132e ;
  color:  white;
  font-family: 'Roboto Slab',serif;
}

.image-inverted{
  filter: invert(100%);
}

.nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.particles-container {
  position: relative;
  overflow: auto;
  z-index: 2; /* Set a higher value than .particles-container */
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline
{
  border-color: white !important;
}